@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v8/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
.links {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
@media (max-width: 500px) {
  table th {
    width: 100%;
  }
  table td {
    width: 100%;
  }
}
html {
  background: #2C3531;
}
html body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  outline: 12px solid #FFCB9A;
  font-family: 'Karla', sans-serif;
  color: #2C3531;
  background: #FFCB9A;
  border-right: 1px solid #116466;
  border-left: 1px solid #116466;
}
html body header {
  width: 100%;
  padding: 0 20px 20px 20px;
}
html body header .topper {
  justify-content: flex-start;
  font-size: 0.75rem;
  margin-top: 20px;
}
html body header a {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
html body header a:hover {
  color: #116466;
}
html body iframe {
  min-width: 520px;
  max-width: 2000px;
  min-height: 145px;
  max-height: 550px;
  margin: 20px;
  padding: 50px;
  background: #116466;
  outline: 10px solid #2C3531;
}
html body table {
  width: 70%;
  margin: 30px auto;
  align-items: center;
  box-shadow: 0 0 200px lightyellow;
  border-radius: 7px;
  padding: 20px 50px 20px 50px;
  background: #2C3531;
  color: #FFCB9A;
}
html body table th {
  text-align: left;
  padding-right: 10px;
  width: 55%;
}
html body table td {
  text-align: right;
  width: 45%;
}
html body section {
  margin: 15px;
  width: 100%;
}
html body section .content {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 60%;
}
html body section .content .poster {
  margin: 10px;
  width: 45%;
}
html body section .content .poster img {
  max-width: 100%;
  min-height: 95%;
  max-height: 100%;
}
html body section .content a {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
html body section .content a:hover {
  color: #116466;
}
html footer {
  margin-top: 30px;
  padding: 35px 0 35px 0;
  width: 100%;
}
html footer img {
  width: 30px;
}
