@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v8/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
.links {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
@media (max-width: 500px) {
  table th {
    width: 100%;
  }
  table td {
    width: 100%;
  }
}
html {
  background: seashell;
}
html body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 0 25px 0 25px;
  font-family: 'Karla', sans-serif;
  color: #2C3531;
  background: seashell;
}
html body h1,
html body h2,
html body h3 {
  text-align: center;
}
html body header {
  width: 100%;
  padding: 50px 20px 50px 20px;
}
html body header .topper {
  justify-content: flex-start;
  font-size: 0.75rem;
}
html body header h1 {
  font-size: 2.5rem;
}
html body header a {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
html body header a:hover {
  color: #116466;
}
html body iframe {
  min-width: 520px;
  max-width: 2000px;
  min-height: 145px;
  max-height: 550px;
  margin: 20px;
  padding: 50px;
  background: #116466;
  outline: 10px solid #2C3531;
}
html body table {
  width: 70%;
  margin: 30px auto;
  align-items: center;
  border-radius: 7px;
  padding: 20px 50px 20px 50px;
  background: seashell;
  color: #2C3531;
}
html body table th {
  text-align: left;
  padding-right: 10px;
  width: 55%;
}
html body table td {
  text-align: right;
  width: 45%;
}
html body section {
  margin: 15px;
  width: 100%;
}
html body section .content {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 60%;
}
html body section .content h1 {
  text-align: center;
}
html body section .content .poster {
  margin: 10px;
  width: 45%;
  text-align: left;
}
html body section .content .poster img {
  max-width: 100%;
  min-height: 95%;
  max-height: 100%;
}
html body section .content a {
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  color: #2C3531;
}
html body section .content a:hover {
  color: #116466;
}
html .upcoming-showings {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  max-width: 80%;
}
html .upcoming-showings .slideshow-container {
  position: relative;
  margin: auto;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
html .upcoming-showings .slideshow-container .mySlides {
  display: none;
}
html .upcoming-showings .slideshow-container .prev,
html .upcoming-showings .slideshow-container .next {
  cursor: pointer;
  top: 45%;
  right: 87%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: absolute;
}
html .upcoming-showings .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
html .upcoming-showings .slideshow-container .prev:hover,
html .upcoming-showings .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
html .upcoming-showings .slideshow-container .text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
html .upcoming-showings .slideshow-container .numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-weight: bolder;
}
html .upcoming-showings .slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: red;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
}
html .upcoming-showings .slideshow-container .active,
html .upcoming-showings .slideshow-container .dot:hover {
  background-color: #717171;
}
html .upcoming-showings .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
html footer {
  margin-top: 30px;
  padding: 35px 0 35px 0;
  width: 100%;
}
html footer img {
  width: 30px;
}
